
\.DS_Store

ejemplo-plantilla-castellano/main\.synctex\.gz

ejemplo-plantilla-castellano/main\.run\.xml

ejemplo-plantilla-castellano/main\.aux

ejemplo-plantilla-castellano/main\.pdf

ejemplo-plantilla-castellano/plantilla-castellano\.aux

ejemplo-plantilla-castellano/plantilla-castellano\.pdf

ejemplo-plantilla-castellano/plantilla-castellano\.synctex\.gz

*.bcf

*.aux

*.fdb_latexmk

*.blg

*.fls

*.pdf

*.gz

*.xml

*.out
